YAMPI_ALIAS=
YAMPI_USER_TOKEN=
YAMPI_USER_SECRET_KEY=
YAMPI_CHECKOUT_BASE=
PUBLIC_SITE_URL=https://caomisa.shop

ADMIN_USER=
ADMIN_PASS=
ADMIN_SESSION_SECRET=

KV_REST_API_URL=
KV_REST_API_TOKEN=
DATA_KV_PREFIX=caomisa
